<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	
  <extensions>
	  <add assembly="NLog.Targets.Sentry" />
  </extensions>

  <targets>
	  <target name="Console" xsi:type="Console" />
	  <target name='JsonFile' xsi:type='File' fileName='log.json'>
		  <layout xsi:type='JsonLayout'>
			  <attribute name='time' layout='${longdate}' />
			  <attribute name='level' layout='${level:upperCase=true}'/>
			  <attribute name='nested' encode='false'  >
				  <layout xsi:type='JsonLayout'>
					  <attribute name='message' layout='${message}' />
					  <attribute name='exception' layout='${exception}' />
				  </layout>
			  </attribute>
		  </layout>
	  </target>
	  <target name="Sentry" xsi:type="Sentry" dsn="https://510d9c96635342d48b36692eef4ba590:07b3f76197bd4c7c86612861425d3a88@sentry.io/1251891"/>
  </targets>

  <rules>
	  <logger name="*" minlevel="Debug" writeTo="Console" />
	  <logger name="*" minlevel="Debug" writeTo="JsonFile" />
	  <logger name="*" minlevel="Info" writeTo="Sentry" />
  </rules>
</nlog>
